body { 
      background: rgb(3,75,104);
      }
      h1 { 
          text-align: center;
          color: rgb(255,255,255);
          }
          a { 
          
          color: rgb(255,255,255);
          }
            