<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Fishtter</title>
	<link rel="stylesheet" href="../scss/regist.css">
</head>
<body> 
    

	<nav>
		<div class="logo">
			<img src="../../../images/FISHTTER ICONS-04.png" alt="">
		</div>
		<div class="title">
			<h1>Login</h1>	
		</div>
			
	</nav>
	
	
	<form>

				
		<div class="form-element">
			<label>User</label>
			<input type="text" name="User">
		</div>
					
		
					
		<div class="form-element">
			<label>Password</label>
			<input type="Password" name="Password">					
		</div>
		
		<div class="form-element">	
			<input type="submit" value="Submit">
		<div>
	</form>
	
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../scripts/form.js"></script>
</body>
</html>