<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../scss/mainmenu.css">
</head>
<body>
	<h1>Hello Captain!</h1>
	<img src="/images/FISHACKATHON_ICONS-09.png" />
	
	
	<a href="#">Log In</a>
	<a href="#">Regsiter</a>
	<a href="#">Rate Us</a>
	
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../scripts/mainmenu.js"></script>
</body>
</html>