<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../scss/form.css">
</head>
<body>
	<h1 style="color:lightblue">Form</h1>
	<form>
		<fieldset>
			<label>First Name</label>
			<input type="text" name="firstname">
		</fieldset>
				
		<fieldset>
			<label>Last Name</label>
			<input type="text" name="lastname">
		</fieldset>
				
		<fieldset>
			<label>ID</label>
			<input type="text" name="ID">
		</fieldset>
					
		<fieldset>
			<label>Enrollment</label>
			<input type="text" name="Enrollment">	
		</fieldset>
					
		<fieldset>
			<label>Port Of Departure</label>
			<input type="text" name="portofdeparture">				
		</fieldset>
					
		<fieldset>
			<label>Ship Capacity</label>
			<input type="text" name="shipcapacity">					
		</fieldset>
					
		<input type="submit" value="submit">
	</form>
	
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../scripts/form.js"></script>
</body>
</html>