body{
	font-family: arial;
	background: #34495e;
	color: #fff;
}
a{
	color: #fff;
}

.links-extra {
	max-width: 350px;
	margin: 5% auto;

	a {
		display: block;
		margin: 10px 0;
	}
	h1{

	.title{
	justify-content: center;
	
}
	}
}