<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../scss/map.css">
</head>
<body>
	<div class="map-philippines"></div>
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../scripts/map.js"></script>
</body>
</html>