<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../scss/map.css">
	<script src="https://cdn.firebase.com/js/client/2.4.2/firebase.js"></script>
</head>
<body>
	<div class="barra">
		<ul>
			<li class="btn-menu"><a href="#"></a></li>
			<li><a href="#"><img src="../../../images/FISHTTER ICONS-08.png"></a></li>
			<li class="btn-help"><a href="#"><img src="../../../images/FISHTTER ICONS-03.png"></a></li>
			<li class="btn-notification"><a href="#"><img src="../../../images/FISHTTER ICONS-06.png"></a></li>
		</ul>
	</div>

	<div class="aside-menu">
		<div class="menu">
			<ul>
				{{#each menu.links}}
				<li><a href="{{link}}">{{name}}</a></li>
				{{/each}}
			</ul>
		</div>	
	</div>

	<div class="info help">
		<a href="javascript:;" class="close">Close</a>
		<div class="tittle">
			<h1>HELP</h1>
		</div>

		<div class="links-extra">
			<div class="helps">
				<a href="#">Emmergency Call</a>
			</div>
			<a href="#">Contac us</a>
			<a href="#">Report a problem</a>
		</div>
	</div>

	<div class="info notifications">
		<a href="javascript:;" class="close">Close</a>
		<div class="tittle">
			<h1>NOTIFICATIONS</h1>
		</div>
		<p>¡STORM!</p>
	</div>

	<div id="map-philippines"></div>
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../scripts/map.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBfwq6sIHHcfJZzQJrK9bJjKCN3Wii7vB8&signed_in=true&callback=initMap" async defer>
    </script>
</body>
</html>