<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" type="text/css" href="http://yui.yahooapis.com/3.18.1/build/cssreset/cssreset-min.css">

	<link rel="stylesheet" href="../scss/first.css">
</head>
<body>
	<div class="barra">
	<ul> 
	
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../scripts/form.js"></script>
</body>
</html>