<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Help</title>
	<link rel="stylesheet" href="../scss/help.css">
</head>
<body>
<div class="tittle">
<h1>HELP</h1>
 </div>

<div class="links-extra">
	<div class="helps">
	<a href="#">Emmergency Call</a>
	</div>
	<a href="#">Contac us</a>
	<a href="#">Report a problem</a>
	</div>
</body>


</html>