<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../scss/map.css">
</head>
<body>
	<h1 style = "color:lightblue"></h1>	
			<h2>
				<a href="#">MAP</a>
			</h2>
		
			<li>
				<a href="#">Routes & tours</a>
					
			</li>
			
			<li>
				<a href="#">History</a>
				<ul>
						<li>
							<a href="">Fishing probability</A>
						</li>
						<li>
							<a href="#">Accident Risk</a>
						</li>
				</ul>
			</li>
		</ul>	
		</ul>		
		
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../scripts/map.js"></script>
</body>
</html>