<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{{title}}</title>
	<link rel="stylesheet" href="../scss/home.css">
</head>
<body>
	<h1 style = "color:lightblue"></h1>	
	<h2><a href="#">MAP</a></h2>
		
	<ul>
		<li><a href="#">Routes & tours</a></li>
		<li><a href="#">History</a>
			<ul>
				<li><a href="">Fishing probability</a></li>
				<li><a href="#">Accident Risk</a></li>
			</ul>
		</li>
	</ul>		
		
	<script src="../../../node_modules/jquery/dist/jquery.min.js"></script>
	<script src="../scripts/home.js"></script>
</body>
</html>